<template>
  <Box title="État actuel">
    <div class="columns">
      <template v-for="(source, key) in ENERGY_SOURCES">
        <div class="column" :key="key" v-if="key in measurement && measurement[key] !== null">
          <EnergySource
            v-bind="source"
            :value="measurement[key]"
          />
        </div>
      </template>
    </div>
  </Box>
</template>

<script>
import { ENERGY_SOURCES } from '../config';
import Box from './Box.vue';
import EnergySource from './EnergySource.vue';

export default {
  components: {
    Box,
    EnergySource,
  },
  props: {
    measurement: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    ENERGY_SOURCES,
  }),
};
</script>

<style scoped>
.column:not(:last-child) {
  border-right: 1px solid #dee2e5;
}
.column:not(:first-child) {
  border-left: 1px solid #dee2e5;
}
</style>
